# Ignore all (so executables with no extension are ignored)
*

# Include files with extensions
!*.*

# Include directories
!*/

# Include LICENSE
!LICENSE

# Begin actual ignores
# Autotools
Makefile.in
aclocal.m4
autom4te.cache/
config.*

*.o
*.ko
*.so
*.so.*

*.swp
*.tmp
*.vim
